<p>Hello there. <a href="http://soff.es/about" rel="external nofollow">I'm Sam</a>. I was previously the VP of Engineering at <a href="http://seesaw.co" rel="external nofollow">Seesaw</a> and Lead iOS Engineer at <a href="http://hipstamatic.com" rel="external nofollow">Hipstamatic</a>. Here's my <a href="http://soff.es/projects" rel="external nofollow">recent projects</a> and <a href="https://github.com/samsoffes" rel="external nofollow">Github profile</a> if you're curious.</p>

<p><mark>I am available for iOS or Ruby on Rails consulting.</mark>

<h3>Rates</h3>
<p><mark>$250 per hour.</mark> The rate is non-negotiable. All time needs to be booked ahead of time. I will require half down up front. Minimum of 5 hour ($1,250) commitment.</p>


<h3>Availability</h3>
<p>Limited to <mark>10 hours a week.</mark> More hours may be possible upon request.</p>

<table class="avabilitiy">
  <tbody>
    <% weeks.each do |week| %>
    <tr <%= week[:booked] ? 'class="booked"' : 'class="available"' %>>
      <td><%= week[:start_date] %> — <%= week[:end_date] %>:</td>
      <td><%= week[:booked] ? 'Booked' : %Q{<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d?subject=I want to hire you from #{week[:start_date]} to #{week[:end_date]}">Available</a>} %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h3>Legal</h3>
<p>I prefer not to sign NDAs. If this is a requirement for you, there is a $2,000 fee to sign your NDA. <mark>You will need to sign my consulting agreement.</mark> It has confidentially agreement included. <a href="http://assets.soff.es/pdf/Consulting%20Agreement%20Sample.pdf">Sample Consulting Agreement</a>.</p>

<p><strong>To schedule work or for additional information, <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d?subject=I want to hire you">email Sam</a>.</strong></p>
