<p>Hello there. <a href="http://samsoff.es/about" rel="external nofollow">I'm Sam.</a> I was previously the Lead iOS Engineer at <a href="http://heysynthetic.com" rel="external nofollow">Synthetic</a>&mdash;the creators of <a href="http://hipstamatic.com" rel="external nofollow">Hipstamatic</a>. Here's <a href="http://samsoff.es/projects" rel="external nofollow">what I've been working on</a>, <a href="http://samsoff.es/resume" rel="external nofollow">résumé</a>, and <a href="https://github.com/samsoffes" rel="external nofollow">Github profile</a> if you're curious. <em>I am available for iOS or Ruby on Rails engineering</em>.

<p>I recently <a href="http://samsoff.es/posts/here-we-go-again" rel="external nofollow">quit my job to start a company</a>. Instead of taking funding, I'm self-funding <a href="http://nothingmagical.com" rel="external nofollow">my company</a>. Until profitability, I'll be doing limited contract work to help fund <a href="https://cheddarapp.com" rel="external nofollow">my product efforts</a>.</p>

<h3>Rates</h3>
<p><em>$200 per hour</em>. The rate is non-negotiable. I will provide an estimate and require half down up front. Minimum of 40 hour ($8,000) commitment.</p>

<h3>Availability</h3>
<p>Limited to <em>10 hours a week</em>. More hours may be possible upon request.</p>

<table class="avabilitiy">
  <tbody>
    <% weeks.each do |week| %>
    <tr <%= week[:booked] ? 'class="booked"' : 'class="available"' %>>
      <td><%= week[:start_date] %> — <%= week[:end_date] %>:</td>
      <td><%= week[:booked] ? 'Booked' : %Q{<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d?subject=I want to hire you from #{week[:start_date]} to #{week[:end_date]}">Available</a>} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Legal</h3>
<p>No NDAs. <em>You will need to sign my consulting agreement</em>. It has confidentially agreement included. <a href="http://assets.samsoff.es/pdf/Consulting%20Agreement%20Sample.pdf">Sample Consulting Agreement</a>.</p>

<p>To schedule work or for additional information, <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d?subject=I want to hire you">email Sam</a>.</p>
