<h3>About Me</h3>
<p>Hello there. <a href="http://soff.es/about" rel="external nofollow">I'm Sam</a>. I was previously the VP of Engineering at Seesaw and Lead iOS Engineer at <a href="http://hipstamatic.com" rel="external nofollow">Hipstamatic</a>. Recently, I did work with <a href="http://www.n-o-r-t-h-t-e-c-h-n-o-l-o-g-i-e-s.com" rel="external nofollow">North</a> and <a href="http://lite.ly" rel="external nofollow">Litely</a>, one of the Apps of the Year on the App Store.</p>

<p>Lately, I've been working on <a href="http://usewhiskey.com" rel="external nofollow">Whiskey</a>, a Markdown text editor for Mac and iOS. Here's my <a href="https://github.com/soffes" rel="external nofollow">Github profile</a> if you're curious.</p>

<p><mark>I am available for iOS, Mac, and Ruby on Rails consulting.</mark>

<h3>Rates</h3>
<p><mark>$300 per hour.</mark> The rate is non-negotiable. All time needs to be booked ahead of time. I will require half down up front. Minimum of 5 hour ($1,500) commitment.</p>


<h3>Availability</h3>
<p>Limited to <mark>30 hours a week.</mark> More hours may be possible upon request.</p>

<table class="avabilitiy">
  <tbody>
    <% weeks.each do |week| %>
    <tr <%= week[:booked] ? 'class="booked"' : 'class="available"' %>>
      <td><%= week[:start_date] %>&ndash;<%= week[:end_date] %>:</td>
      <td><%= week[:booked] ? 'Booked' : %Q{<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d?subject=I want to hire you from #{week[:start_date]} to #{week[:end_date]}">Available</a>} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p style="color:#999">You should talk to my friends at <a href="http://fictivekin.com/" rel="external nofollow">Fictive Kin</a> or <a href="http://ovenbits.com" rel="external nofollow">Oven Bits</a> if you need work done sooner. They do very professional and high quality work. Tell them I sent you.</p>


<h3>Legal</h3>
<p>I prefer not to sign NDAs. If this is a requirement for you, there is a $3,000 fee to sign your NDA. <mark>You will need to sign my consulting agreement.</mark> It has confidentiality agreement included. <a href="https://soffes.s3.amazonaws.com/Sample%20Contract.pdf">Sample Consulting Agreement</a>.</p>

<p><strong>To schedule work or for additional information, <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d?subject=I want to hire you">email Sam</a>.</strong></p>
