<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hire Sam Soffes</title>
  <link rel="me" href="http://www.google.com/profiles/samsoffes">
  <link rel="author" type="text/plain" href="http://soff.es/humans.txt">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/619254/777982/css/fonts.css">
  <link href="/assets/application.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <header>
    <h1><a href="/" rel="home">Hire Sam</a></h1>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
    <p>&copy; 2012-2014 <a href="http://soff.es/" rel="external nofollow">Sam Soffes</a></p>
  </footer>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','526b1633613f5d0aab00002d');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t,s);})();</script>
  <% end %>
</body>
</html>
